extends ../../layouts/_layout.pug

block variables
	- var activePage = 'Action Path Mangement'

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Action Path Mangement
			
		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Action Path Mangement

	.row
		.col-md-12
			.tile
				form.row
						.form-group.col-md-12.connectionmsg1
				.row
					//- .col-lg-4
					//- 	form(method="post", name="myform", onsubmit="return OnSubmitForm();")
					//- 		.form-group
					//- 			label(for='url') Select Agent
					//- 			select#agent.form-control
					//- 				each u in agent
					//- 					option(value=u.agent_name)= u.agent_name
									
					//- 			small#emailHelp.form-text.text-muted upload file to selected agent.
					.col-lg-4
						form(method="post", name="myform", onsubmit="return OnSubmitForm();")
							.form-group
								label(for='url') Name
								input#name.form-control(type='text', placeholder='Enter Name ' name="name")
								small#emailHelp.form-text.text-muted 
					.col-lg-2
						form(method="post", name="myform", onsubmit="return OnSubmitForm();")
							.form-group
								label(for='url') Type
								select#type.form-control
									option(value="nodejs") nodejs
									option(value="script") script
									
				.row
					.col-lg-4
						form(method="post", name="myform", onsubmit="return OnSubmitForm();")
							.form-group
								label(for='url') File
								input.form-control#fileaction(type="file" )
								small#emailHelp.form-text.text-muted 
					.col-lg-2
						form(method="post", name="myform", onsubmit="return OnSubmitForm();")
							.form-group
								label(for='url') Queue
								select#queue.form-control
									option(value="true") true
									option(value="false") false
				.row
					.col-lg-4
						a.btn.btn-primary.uploaddata upload
	.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#ActionTable
							thead
								tr
									th Action Id
									th Version
									th Action Name
									th Action Type
									th Action Queued
									th Created On
									th Action
									
									
							tbody
								each a in path
									tr
										td= a.id
										td= a.version
										td= a.name
										td= a.type
										td= a.queued
										td= a.created_on
										td 
											a.btn.btn-danger.btn-sm.deleteagent Delete

block specific-js

	
	script(type='text/javascript').
		$( document ).ready(function() {
			var actiontb=	$('#ActionTable').DataTable({ 
												"columnDefs":[{	'targets': [0,1,3,4],'searchable':false,'orderable':false,
												"width": "8%" },
												{"targets": 4,
												'render': function (data, type, row){
													
															if(data==1){
																return '<span class="badge badge-pill badge-primary" style="font-size:11px;">True</span>';
															}else{
																return '<span class="badge badge-pill badge-danger" style="font-size:11px;">False</span>';
															}
														} }]});
			$('.uploaddata').click(function(){
				let file = document.querySelector('#fileaction');
				let allowableTypes=["application/zip", "application/octet-stream", "application/x-zip-compressed", "multipart/x-zip"]
				let save=0;
				let queue=$('#queue').val();
				let type=$('#type').val();
				let name=$('#name').val();
				console.log(file.files[0])
				let formData = new FormData();
				if(name===undefined){
					$('.connectionmsg1').append('<div class="alert alert-danger msgalert"> File Name Has Been Not Provided </div>');
					save=1;
				}
				else if(type===undefined){
						$('.connectionmsg1').append('<div class="alert alert-danger msgalert"> Type Has Been Not Provided </div>');
					save=1;
				}
				else if(queue===undefined){
						$('.connectionmsg1').append('<div class="alert alert-danger msgalert"> Queue Type Has Been Not Provided </div>');
					save=1;
				}
				else if(file.files[0]===undefined){
					$('.connectionmsg1').append('<div class="alert alert-danger msgalert"> File Has Been Not Provided </div>');
					save=1;
				}
				
				else if(file.files[0]!==undefined && file.files[0].size>10000000){
					$('.connectionmsg1').append('<div class="alert alert-danger msgalert"> File Should Not Be Greater Than 5Mb </div>');
					save=1;
				}
				else if(file.files[0]!==undefined &&  allowableTypes.indexOf(file.files[0].type.toLowerCase())=== -1){
					$('.connectionmsg1').append('<div class="alert alert-danger msgalert">Only Zip File Are Allowed </div>')
					save=1;
				}
				else if(save==0){
				
					//let agent=$('#agent').val();
					console.log(queue)
					console.log(type)
					console.log(name)
					//console.log(agent)

					formData.append("queued", queue);
					formData.append("type", type);
					formData.append("name", name);
					//formData.append("agent", agent);
					formData.append("file", file.files[0]);
					console.log(formData)
					$.ajax({
					type: "post",
					url: "/admin/manage/action-path",
					data:formData,
					cache: false,
					processData: false,
					contentType:false,

					success: function(response) {
						console.log(response)
								$(".msgalert").remove();
								//$(".msgalert1").remove();
								$(".connectionmsg1").append('<div class="alert alert-success msgalert ">'+response.message+' </div>');
								setTimeout(function () {location.reload();},700);
							//-  $('.removeaddform').remove();
							//- location.href = "/next"
							
						},
						error: function(error) {
							console.log(error);
							$(".msgalert").remove();
							if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh"){
								location.href='/admin/manage/rpa-agent'
							}else{
											$(".connectionmsg1").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
							}
							}
						});
				}

			})
			$('.deleteagent').click(function(){
				let id = actiontb.row( $(this).parents('tr') ).data();

					swal({
							title: "Are you sure?",
							text: "Delete Action Path "+id[2]+" !",
							type: "warning",
							showCancelButton: true,
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel plx!",
							closeOnConfirm: true,
							closeOnCancel: true
						}, function(isConfirm) {
							if (isConfirm) {
				
								  $.ajax({
										type: "get",
										url: "/admin/manage/action-path/delete/"+id[0]+"/"+id[2],
									//	"headers": {"content-type": "application/x-www-form-urlencoded"},
										contentType: "application/x-www-form-urlencoded",
										success: function(response) {
											swal({title: "Deleted!", text: "Agent  has been deleted!", type: "success"},
													function(){ 
														location.reload();
													}
													);
										},
										error: function(error) {
											console.log(error.responseJSON);
												swal("Cancelled", "Try After Sometime :)", "error");

										}
									})
							
							}
						});
			})
		});
