extends ../../layouts/_layout.pug

block variables
	- var activePage = 'Action Path Priority'

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Action Path Priority
			
		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Action Path Priority

	.row
		.col-md-12
			.tile
				form(action="/admin/manage/order",method="POST")
					//- .row
					//- 		.form-group.col-md-12.connectionmsg1
					.row
						.col-lg-4
								.form-group
									label(for='url') Agent Name
									select.form-control#agent( name="agent")
										//- option(value="only server") only server
										option(value="select all agent") select all agent
										each ag in agent
											option(value=ag.id)= ag.agent_name
					.row
						.col-lg-12
							.tile-body
								table.table.table-hover.table-bordered#ActionTable
									thead
										tr
											th Action Id
											th Action Name
											th Action Type
											th Action Queued
											th Priority
											
									tbody
										each a in path
											tr
												td= a.id
												td= a.name
												td= a.type
												td= a.queued
												td= a.order_id
												
						
						
					
					.row
						.col-lg-4
							button.btn.btn-primary(type='submit') Save/Update
							

				

block specific-js

	
	script(type='text/javascript').
		function checkint(check){
		console.log(check)
			let number = /^[0-9]{1,2}$/
			if(number.test(check)===false){
				alert("decimal not allowed")
					$("#check.id").val(check.value)
			}
		}
		$( document ).ready(function() {
			let agent_order_value;
			let actiontb
			let foo =($.cookie("message")===undefined)?$.cookie("errormessage"):$.cookie("message")
			let messagetype=($.cookie("errormessage")===undefined)?"info":"danger"
			
			if(foo!==undefined){
				$.notify({
					title: "Message : ",
					message:foo,
					icon: 'fa fa-check' 
				},{
					type: messagetype
				});
			}
			 actiontb=	$('#ActionTable').DataTable({ 
												"columnDefs":[{"targets": [2,3],'searchable':false,'orderable':false},
												{"targets": 3,
												'render': function (data, type, row){
													
															if(data==1){
																return '<span class="badge badge-pill badge-primary" style="font-size:11px;">True</span>';
															}else{
																return '<span class="badge badge-pill badge-danger" style="font-size:11px;">False</span>';
															}
														} },
												{"targets": 4,'searchable':false,'orderable':false,
												'render': function (data, type, row){
													 return '<input type="hidden" name="idname[]" id="idname[]" value="'+row[1]+'"><input class="form-control form-control-sm" style="width:70%" type="number" id="value[]" name="value[]" value="'+row[4]+'" onchange="this.value=((parseInt(this.value)>0 && parseInt(this.value)<=99)?parseInt(this.value):99)">';
														} }]});
			 agent_order_value = actiontb.columns( 4 ).data()[0]
				console.log(agent_order_value);
			$("#agent").on('change',function(){
				let x= $("#agent").val();
			
					$.ajax({
						type: "get",
						url: "/admin/manage/order/"+x,
						contentType: "application/x-www-form-urlencoded",
						success: function(response) {
							//console.log(response)
							//console.log( actiontb.columns( 0 ).data()[0])
								let tb_length = actiontb.columns( 0 ).data()[0];
							for(let i= 0;i<tb_length.length;i++ ){
								if(response.data[i].id!==undefined){
									//console.log("here")
									//console.log(response.data[i].id)
									if(response.data[i].id==tb_length[i]){
									//- console.log("here1")
									actiontb.cell(i, 4).data(response.data[i].order_id).draw();
									}else{
										console.log("something wrong in datatable")
									}
								}else{
									//- console.log("here2")
									actiontb.cell(i, 4).data(agent_order_value[i]).draw();
								}
								
							}
						},

						error: function(error) {
							console.log(error.responseJSON);
							$(".msgalert").remove();
							if(error.responseJSON.error==="refresh"){
								location.href='/'
							}else if(error.responseJSON.error==="connection refused"){
								location.href='/'
							}
							else{
											$(".connectionmsg1").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
							}
							}
						});
			
			})
		});
