meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv="content-type" content="application/x-www-form-urlencoded")

link(rel="icon" type="image/x-icon" href="/static/images/logo/favicon.ico")
		 		 

// Main CSS
link(rel='stylesheet', type='text/css', href='/static/css/main.css')
// Font-icon css
link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

