extends ../layouts/_layout.pug

block variables
	- var activePage = 'dashboard'
	- var activeGroup = 'none'

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				| 	Queue Dashboard
			//- p A free and open source Bootstrap 4 admin template

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Dashboard

	.row
		.col-md-6.col-lg-3
			.widget-small.primary.coloured-icon
				i.icon.fa.fa-users.fa-3x
				div.info
					h4 Users
					p
						b 5

		.col-md-6.col-lg-3
			.widget-small.info.coloured-icon
				i.icon.fa.fa-thumbs-o-up.fa-3x
				div.info
					h4 Likes
					p
						b 25

		.col-md-6.col-lg-3
			.widget-small.warning.coloured-icon
				i.icon.fa.fa-files-o.fa-3x
				div.info
					h4 Uploades
					p
						b 10

		.col-md-6.col-lg-3
			.widget-small.danger.coloured-icon
				i.icon.fa.fa-star.fa-3x
				div.info
					h4 Stars
					p
						b 500
	.bodydashboard
			.tile
				h3.tile-title Queue Status
				.row
					.col-md-12
						.form-group.col-md-12.connectionmsg
				.row.justify-content-center

					.col-md-4
						.tile-body
							table.table-responsive-sm.table.table-hover.table-bordered.average
								thead
									tr
										th
											small Action Path
										th
											small  Sec
								tbody
									
				.appendtable
				

block specific-js
	//- script(type='text/javascript', src="js/plugins/chart.js")
	script(type='text/javascript').
		
		function findtotalagent(){
			//$(".appendtable").remove()
			//let elem = document.getElementsByClassName("appendtable");
		//	elem.parentNode.removeChild(elem);
			$.ajax({
					type: "get",
					url: "/admin/get-agent",
				//	data:{"ipaddress":ipadd,"port":port},
					contentType: "application/x-www-form-urlencoded",
					success: function(response) {
						 console.log(response)
						//- console.log(response.data.length)
							let str;						
							str = "<div class='row' style='margin-left:20px;'>"
							let prevAgent = null;
							for (let i = 0; i<response.data.length; i++){
								if (prevAgent !== response.data[i].agent_name){
									if (prevAgent !== null) {
										str += "</div><div class='col-md-1'></div>";
									}
									if(response.data[i].status===0){
										str +="<div class='col-md-3 disabledagent' >"
										str +="<div class='disabled-agent-label'><span style='color:red; font-size:25px;'><b>Disabled</b></span></div>"
									}else{
										str +="<div class='col-md-3' style='margin-bottom:15px;'>"
									}									
									str +="<div class='row'>";
									str += "<div class='agent-header col-md-12'>"
									str += "<span class='agent-ip' style='color: white;text-align: center;display: block;'>"+response.data[i].host+" / "+response.data[i].port+"</span>";
									
									str += "</div>";
									prevAgent = response.data[i].agent_name;
								}else{
									str +="<div class='row'>";
								}
								str += "<div class='agent-name col-md-6'>"
								str += "<span class='agent-ip'>"+response.data[i].name+"</span>";
								str += "</div>";
								str += "<div class='agent-count col-md-3' style='color: white;text-align: center;display: block;'>"
								str += "<span class='agent-ip'>"+response.data[i].completed_count+"</span>";
								str += "</div>";
								str += "<div class='agent-avg col-md-3'>"
								str += "<span class='agent-ip'>"+response.data[i].delay+"</span>";
								str += "</div>";
								str += "</div>";								
							}
							if (response.data.length>0) str += "</div>"
							$(".appendtable").empty();
							$(".appendtable").append(str);
						
					},
					error: function(error) {
						console.log(error.responseJSON);
						
						if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh" ){
								location.href='/'
						}else if(error.responseJSON.error!==undefined && error.responseJSON.error==="invalid_token"){
								location.href='/'
						}else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description.code+' </div>')
						}
						else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
						}else{
										$(".connectionmsg").append('<div class="alert alert-danger msgalert"> SomeThing Went Wrong </div>')
						}

					}
				});
		}
		function average(){
			//- $(".average tbody").remove();
				$.ajax({
					type: "get",
					url: "/admin/average",
					contentType: "application/x-www-form-urlencoded",
					success: function(response) {
						 console.log(response)
						//- console.log(response.data.length)
							$(".average tbody").empty();
						 for(let i=0;i<response.data.length;i++){
							  var newRowContent = "<tr><td>"+response.data[i].name+"</td><td>"+response.data[i].AvgScore+"</td></tr>";
							  $(".average tbody").append(newRowContent);
						 }
					},
					error: function(error) {
						console.log(error.responseJSON);
						
						if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh" ){
								location.href='/'
						}else if(error.responseJSON.error!==undefined && error.responseJSON.error==="invalid_token"){
								location.href='/'
						}else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description.code+' </div>')
						}
						else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
						}else{
										$(".connectionmsg").append('<div class="alert alert-danger msgalert"> SomeThing Went Wrong </div>')
						}

					}
				});
		}
		average();findtotalagent();
		window.setInterval(function(){average();findtotalagent();}, 10000);
	
		